.App {
  text-align: center;
}

.font {
  font-family: "Roboto Mono", monospace;
}

.footer-name {
  font-family: "Birthstone Bounce", cursive;
}

.uppercase {
  text-transform: uppercase;
}

.all-country-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
